 #features-alternate-home-welcome {
    margin-top: 2.5rem;
   /* background-color: var(--color-light-bg) !important;*/
   background-color: #ffffff !important;
 }




.features-alternate-home-welcome__container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0rem;
    margin-top: 4rem !important;   
   
}

.features-alternate-home-welcome__container  > div {
  /*background: var(--color-white);*/
  /*background-color: #e8e4e4;*/
  background-color: #000000;
  padding:2rem 2rem;
  color:white;
  
  border:  var(--separator-line);
  transition:var(--transition);
 
 /* box-shadow: var(--feature-shadow);
 -webkit-box-shadow: var(--feature-shadow);
 -moz-box-shadow: var(--feature-shadow);*/
}


.features-alternate-home-welcome__container  > div:hover {
    /*background: transparent;*/
    border-color:var(--color-primary-variant);
    
    cursor:default;
}

.features-alternate-home-welcome__container > div h4 {
  text-align:center;
  margin-bottom: 0rem;
 /* color:var(--color-primary);*/
}


.features-alternate-home-welcome__content {
   display:grid;
   grid-template-columns: 1fr 1fr;
   row-gap:2rem;
}


.features-alternate__container{

}

.features-alternate-home-welcome__backend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:10px;
    scale:0.8;
    
    border-radius: 1rem;
   
}



.features-alternate-Home__container{
    text-align: center;
    height:100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem; 
   
   
}


  
 .features-alternate-HomeTitle{
    flex:1.5;
    padding:5%;
    padding-left: 1%;
    text-align: center;
    margin-top:1rem;
   
}

.features-alternate-HomeTitle h2{
    font-size: 2.3rem;
   
   }

.features-alternate-HomeTitle-p{
 font-size: 1.2rem;
 line-height: 2;
 text-align: left;
 
}



.features-alternate-home-welcome__details {
    display:flex;
    gap:1rem;

}

.features-alternate-home-welcome__details-icon {
    margin-top: 6px;
    color:var(--color-primary);

}


.btn-pos {
   margin-top: 5%;
}

.iconContainer-welcome{
    color:var(--color-primary-variant);
    font-size: 2rem;
   /* background-color: var(--color-white);*/
    /*box shape*/
    /*border: var(--separator-line);*/
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
     /*box shape*/

     /*box position*/
     position: relative;
     top:10%;
     /*left:10%;*/
     z-index:0 !;
     /*box position*/

     

}


/*============== MEDIA QUERIES (KINDA LARGE DEVICES) ======================= */

@media screen and (max-width:1500px) {
    .features-alternate-home-welcome__container {
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
    }

    .iconContainer{
       margin: 0 auto;
       top:8%;
       left:0%;
    }
}


/*============== MEDIA QUERIES (MEDIUM DEVICES) ======================= */

@media screen and (max-width:1024px) {
    .features-alternate-home-welcome__container {
        grid-template-columns: 1fr 1fr;

    }

    .features-alternate-home-welcome__container > div {
        width:80%;
        padding:2rem;
        margin:0 auto;
    }

    .features-alternate-home-welcome__content {
        padding: 1rem;
    }
}


/*============== MEDIA QUERIES (SMALL DEVICES) ======================= */

@media screen and (max-width:600px) {
    .features-alternate-home-welcome__container {
        
        gap: 1rem;
        grid-template-columns: 1fr;

    }

    .features-alternate-home-welcome__container > div {
        width:100%;
        padding:2rem 1rem;

    }




}

 




